
 body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
 }

h1 {
  font-size: 8vh;
  margin: 0;
}

blockquote {
  font-style: italic;
}
.nav-wrapper{
  padding-right: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;  
}