
/* Remove margins/padding from body, add min-height, alter box sizing */
 body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
 }

/* Add font styling for blockquotes */
blockquote {
  font-style: italic;
}

/*Add padding to navbar */
.nav-wrapper{
  padding-right: 50px;
}

/* Make row classes flex boxes */
.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;  
}

/* Make top-buttons classes flex boxes, align items to center, add margin to bottom */
.top-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Make ingredient inputs grow, add margin to right */
#ingredient-input {
  flex-grow: 1;
  margin-right: 10px;
}

/* Add margin to left of restart-button id */
#restart-button {
  margin-left: 10px;
}

/* Add font-size/line-heights to button elements */
button {
  font-size: .25rem;
    line-height: 50%;
}

/* Remove padding from left and right for collapsible class */
.collapsible {
  padding-left: 0%;
  padding-right: 0%;
}

/* Add border to left of blockquote elements */
blockquote{
  border-left: 5px solid #48a49c; /* Just change the color value and that's it*/
}